:root {
  /* default dark mode */
  --text-color: #ffffff;
  --bg-color: #002c29;
  --selection-color: #519975;
  --cursor-color: #73abad;
  --command-color: #73abad;
  --liner-color: #519975;
  --index-color: #dcdccc;
  --color2-color: #b89076;
  --cmd-color: #9cad73;
  --cmd-shadow: #73abad;
  --error-color: #fb0000;
  --link-color: #9c8394;
  --link-hover-color: #519975;
  --link-hover-bg: #211d1b;
}

[data-theme='dark']{
  --text-color: rgb(255, 255, 255);
  --bg-color:#002b2c;
  --selection-color: #00ffea;   /* #519975 */
  --cursor-color: rgb(50, 205, 143);                 /*  #73abad; */
  --command-color: rgb(50, 205, 143);
  --liner-color: rgb(50, 205, 143); /*#519975;*/
  --index-color: rgb(50, 205, 143); /*#dcdccc;*/
  --color2-color: rgb(50, 205, 143);/* #b89076;*/
  --cmd-color: rgb(50, 205, 143);                /* #73abad;*/
  --cmd-shadow: rgb(0, 128, 126);
  --error-color: red;
  --link-color: rgb(50, 205, 143);/*#9c8394;*/
  --link-hover-color: rgb(50, 205, 143);/* #519975;*/
  --link-hover-bg: #1b211f;
}

[data-theme='light']{
  --text-color: #33415a;
  --bg-color: #eff3f3;
  --selection-color: #308efd;
  --cursor-color: #33415a;
  --command-color: #027474;
  --liner-color: #027474;
  --index-color: #a8a8a8;
  --color2-color: #33415a;
  --cmd-color: #117dbd;
  --cmd-shadow: none;
  --error-color: #ff818a;
  --link-color: #117dbd;
  --link-hover-color: #308efd;
  --link-hover-bg: #eff3f3;
}